{{> header}}

<div class="box">
  <h1 class="title is-4">Edit your profile</h1>
</div>

<div class="box">

  <form action="/edit" method="post">

    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Display name" name="displayName" value="{{ currentUser.displayName }}">
    </div>
      </div>

      <div class="field">
        <label class="label">Bio</label>
        <div class="control">
          <textarea class="textarea" placeholder="Tell us about yourself!" rows="10" name="bio">{{ currentUser.bio }}</textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link" value="Update">Submit</button>
        </div>
      </div>

  </form>
</div>

{{> footer}}
